In [ ]:
from __future__ import division

In [1]:
import pandas as pd
import datetime
import string
import numpy as np
import helper as hp

In [2]:
pd.set_option('display.max_columns', None)
Gb = 1000000000

In [3]:
sqlitedb = 'v:\\temp\\access_log.db'

In [5]:
from sqlalchemy import create_engine

In [6]:
disk_engine = create_engine('sqlite:///'+sqlitedb)

In [25]:
sql = 'select src, dst, date, sum(total_size) from data group by src, dst, date'

In [26]:
df = pd.read_sql(sql, disk_engine)

In [27]:
df.sort(['sum(total_size)'], ascending = False).head()

                  src             dst        date  sum(total_size)
434457  172.20.78.248   210.184.45.54  2015-01-28       8874772515
526859   172.20.78.75   61.244.242.16  2015-10-09       8812135910
75523    172.20.68.21    172.20.78.33  2015-10-12       8477934532
75524    172.20.68.21    172.20.78.33  2015-10-13       8312708456
533914   172.20.78.76  121.121.16.132  2015-09-10       7893099304