In [1]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv('train.csv.zip', index_col=[0], compression='zip')

In [62]:
# count number of integers in a sequence
#df[['Sequence']].apply(lambda x: x.str.count(','))

In [64]:
# count number of integers in the sequence, and add as a new column
df['Count'] = df.iloc[:,0].apply(lambda x: x.count(','))

In [65]:
df.head()

                                             Sequence  Count
Id
3   1,3,13,87,1053,28576,2141733,508147108,4021352...     13
7   1,2,1,5,5,1,11,16,7,1,23,44,30,9,1,47,112,104,...     56
8   1,2,4,5,8,10,16,20,32,40,64,80,128,160,256,320...     40
11  1,8,25,83,274,2275,132224,1060067,3312425,1099...     19
13  1,111,12211,1343211,147753211,16252853211,1787...     11