In [32]:
#from __future__ import division
import pandas as pd
import re
import numpy as np
import datetime

In [33]:
import urllib
import urllib.request

In [34]:
from bs4 import BeautifulSoup

In [35]:
def download_csv(url, file):
    urllib.request.urlretrieve(url, file)

In [36]:
def read_stock_csv(surl):
    df = pd.read_csv(surl, parse_dates=1)
    df['Avg Price'] = ((df['High'] + df['Low']) / 2).round(4)
    return df

In [37]:
def read_div_csv(durl):
    df = pd.read_csv(durl, parse_dates=1)
    df['Avg Price'] = ((df['High'] + df['Low']) / 2).round(4)
    return df

In [52]:
# extract the dividend amount from text field
def ext_div(text):
    loc = str(text).find('HKD')
    if loc != -1:
        return float(text[loc+4:loc+4+6])
    else:
        return text

In [39]:
durl = 'http://www.aastocks.com/en/stocks/analysis/dividend.aspx?symbol=00388'
page = urllib.request.urlopen(durl)
soup = BeautifulSoup(page, 'lxml')

# web scraping
data = []
table = soup.find('table', attrs={'class':'cnhk-cf tblM s4 s5'})
rows = table.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])

# convert to dataframe
df = pd.DataFrame(data[1:], columns=data[0])
# sort by Ex-Date
#df.sort_values(by='Ex-Date', ascending=False, inplace=True)

In [53]:
df['Particular'] = df['Particular'].apply(ext_div)
a = df[df['Type'].str.contains('Cash')]

In [57]:
a.head()

,Announce Date,Year Ended,Event,Particular,Type,Ex-Date,Book Close Date,Payable Date
0,2016/03/02,2015/12,Final,2.87,Cash/Scrip,2016/05/03,2016/05/05-2016/05/06,2016/06/02
2,2015/08/12,2015/12,Interim,3.08,Cash/Scrip,2015/08/25,2015/08/27-2015/08/28,2015/09/24
4,2015/03/05,2014/12,Final,2.15,Cash/Scrip,2015/05/04,2015/05/06-2015/05/07,2015/06/05
6,2014/08/06,2014/12,Interim,1.83,Cash/Scrip,2014/08/19,2014/08/21-2014/08/22,2014/09/22
8,2014/02/26,2013/12,Final,1.72,Cash/Scrip,2014/04/22,2014/04/24-2014/04/25,2014/05/27

In [70]:
a

,Announce Date,Year Ended,Event,Particular,Type,Ex-Date,Book Close Date,Payable Date
0,2016/03/02,2015/12,Final,2.87,Cash/Scrip,2016/05/03,2016/05/05-2016/05/06,2016/06/02
2,2015/08/12,2015/12,Interim,3.08,Cash/Scrip,2015/08/25,2015/08/27-2015/08/28,2015/09/24
4,2015/03/05,2014/12,Final,2.15,Cash/Scrip,2015/05/04,2015/05/06-2015/05/07,2015/06/05
6,2014/08/06,2014/12,Interim,1.83,Cash/Scrip,2014/08/19,2014/08/21-2014/08/22,2014/09/22
8,2014/02/26,2013/12,Final,1.72,Cash/Scrip,2014/04/22,2014/04/24-2014/04/25,2014/05/27
10,2013/08/15,2013/12,Interim,1.82,Cash/Scrip,2013/08/27,2013/08/29-2013/08/30,2013/09/30
12,2013/02/27,2012/12,Final,1.46,Cash/Scrip,2013/04/26,2013/04/30-2013/05/02,2013/05/31
14,2012/08/08,2012/12,Interim,1.85,Cash/Scrip,2012/08/21,2012/08/23-2012/08/24,2012/09/21
16,2012/02/29,2011/12,Final,2.09,Cash/Scrip,2012/04/25,2012/04/27-2012/04/30,2012/05/29
18,2011/08/10,2011/12,Interim,2.16,Cash/Scrip,2011/08/24,2011/08/26-2011/08/30,2011/10/06
20,2011/03/02,2010/12,Final,2.31,Cash/Scrip,2011/04/13,2011/04/15-2011/04/20,2011/05/27
22,2010/08/11,2010/12,Interim,1.89,Cash,2010/08/25,2010/08/27-2010/08/31,2010/09/08
24,2010/03/04,2009/12,Final,2.09,Cash,2010/04/15,2010/04/19-2010/04/22,2010/05/03
26,2009/08/12,2009/12,Interim,1.84,Cash,2009/08/26,2009/08/28-2009/09/01,2009/09/09
28,2009/03/04,2008/12,Final,1.8,Cash,2009/04/16,2009/04/20-2009/04/23,2009/05/05
30,2008/08/13,2008/12,Interim,2.49,Cash,2008/08/27,2008/08/29-2008/09/02,2008/09/11
32,2008/03/05,2007/12,Final,3.4,Cash,2008/04/17,2008/04/21-2008/04/24,2008/05/09
34,2007/08/31,2007/12,Interim,1.79,Cash,2007/09/05,2007/09/07-2007/09/11,2007/09/18
36,2007/03/08,2006/12,Final,1.19,Cash,2007/04/19,2007/04/23-2007/04/26,2007/05/08
38,2006/08/16,2006/12,Interim,0.94,Cash,2006/09/06,2006/09/08-2006/09/12,2006/09/19
40,2006/03/08,2005/12,Final,0.64,Cash,2006/04/19,2006/04/21-2006/04/26,2006/05/08
41,2005/08/17,2005/12,Interim,0.49,Cash,2005/09/05,2005/09/07-2005/09/09,2005/09/15
42,2005/02/28,2004/12,Final,0.47,Cash,2005/04/04,2005/04/07-2005/04/12,2005/04/25
43,2004/08/11,2004/12,Interim,0.43,Cash,2004/09/03,2004/09/07-2004/09/09,2004/09/13
44,2004/02/26,2003/12,Final,0.42,Cash,2004/03/24,2004/03/26-2004/03/31,2004/04/14
45,2003/08/13,2003/12,Interim,0.18,Cash,2003/09/05,2003/09/09-2003/09/11,2003/09/15
46,2003/03/12,2002/12,Final,0.43,Cash,2003/04/08,2003/04/10-2003/04/15,2003/04/25
47,2002/08/15,2002/12,Interim,0.08,Cash,2002/09/05,2002/09/09-2002/09/11,2002/09/12
48,2002/03/13,2001/12,Final,0.25,Cash,2002/04/11,2002/04/15-2002/04/17,2002/04/22
49,2001/09/12,2001/12,Interim,0.08,Cash,2001/10/08,2001/10/10-2001/10/12,2001/10/15
50,2001/03/13,2000/12,Final,0.25,Cash,2001/04/23,2001/04/25-2001/04/27,2001/05/03
51,2000/09/06,2000/12,Interim,0.08,Cash,2000/10/04,2000/10/09-2000/10/11,2000/10/12

In [61]:
earliest = results[0]
latest = results[len(results)-1]

In [63]:
earliest

['2015-01-12', 18.73]

/Users/kenneth/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,Announce Date,Year Ended,Event,Particular,Type,Ex-Date,Book Close Date,Payable Date
0,2016/03/02,2015/12,Final,2.87,Cash/Scrip,2016/05/03,2016/05/05-2016/05/06,2016/06/02

In [78]:
temp = 0
accumulated = 0

for r in results:
    accumulated += r[1]
    b = a[(df['Ex-Date'] >= r[0]) & (df['Ex-Date'] >= earliest[0])]
    temp += np.sum(b['Particular']) * accumulated

/Users/kenneth/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [79]:
temp

14249.7382

In [41]:
def months_between(start, end):
    start_year = int(start[:start.find('-')])
    start_month = int(start[start.find('-')+1:])
    end_year = int(end[:end.find('-')])
    end_month = int(end[end.find('-')+1:])
    
    year_diff = end_year - start_year
    month_diff = end_month - start_month
    
    diff = []
    
    if year_diff <= 0:
        for j in range(start_month, end_month + 1):
            diff.append(str(start_year).rjust(2, '0') + '-' + str(j).rjust(2, '0'))
    else:
        for i in range(start_year, end_year + 1):
            if (i == start_year ):
                for j in range(start_month, 12 + 1):
                    diff.append(str(i).rjust(2, '0') + '-' + str(j).rjust(2, '0'))
            elif (i == end_year):
                for j in range(1, end_month + 1):
                    diff.append(str(i).rjust(2, '0') + '-' + str(j).rjust(2, '0'))
            else:
                for j in range(1, 12 + 1):
                    diff.append(str(i).rjust(2, '0') + '-' + str(j).rjust(2, '0'))                    
      
    return diff

In [48]:
def buy_shares(results, contrib, fee):
    shares = []
    total_shares = 0
    total_contrib = 0
    f = 0
    
    for r in results:
        s = round((contrib - fee)/r[1], 2)
        shares.append([r[0], s])
        total_shares += s
        total_contrib += contrib
        f += fee
    return shares, total_shares, total_contrib, f

In [43]:
#def cal_dividend(shares, div):

In [44]:
def cal_profit(total_shares, total_contrib, current_price, dividend=0):
    profit = (current_price * total_shares + dividend - total_contrib) / total_contrib
    
    return profit

In [49]:
def eval_stock(surl, durl, contrib, fee, start, end, day=10):
    # contrib: monthly contribution amount
    # fee
    # current_price
    # start: a string indicate the start year and month
    # end: a string indicate the end year and month
    # day: day to execution    
    
    results = []
    
    months = months_between(start, end)
    
    df = read_stock_csv(surl)
    
    # current price is the latest average price
    current_price = df[df['Date'] ==np.max(df['Date'])].iloc[0]['Avg Price']
    
    for m in months:
        for d in range(day, day + 5):
            temp = df[df['Date'].str.contains(m + '-' + str(d).rjust(2, '0'))]
            if len(temp) > 0:
                results.append([m + '-' + str(d).rjust(2, '0'), temp.iloc[0]['Avg Price']])
                break
                
    shares, total_shares, total_contrib, total_fee = buy_shares(results, contrib, fee)
    
    profit = cal_profit(total_shares, total_contrib, current_price)
                    
    return shares

In [29]:
#stocks = ['0002', '0175', '0700', '0388', '0066']
stocks = ['0001']

In [46]:
today = datetime.datetime.now().timetuple()

# download csv files
for s in stocks:
    surl = 'http://real-chart.finance.yahoo.com/table.csv?s='+s+'.HK'+'&a=05&b=16&c=2000&d=03&e='+str(today[2])+'&f=2016&g=d&ignore=.csv'
    download_csv(surl, s+'.csv')
#http://real-chart.finance.yahoo.com/table.csv?s=2800.HK&a=11&b=31&c=2000&d=03&e=26&f=2016&g=v&ignore=.csv

In [50]:
#results = []
for s in stocks:
    surl = s+'.csv'
    durl = ''
    #results.append([s, eval_stock(surl, durl, 2000, 50, '2015-01', '2016-04')])
    results = eval_stock(surl, durl, 2000, 50, '2015-01', '2016-04')
results

[['2015-01-12', 18.73],
 ['2015-02-10', 18.350000000000001],
 ['2015-03-10', 17.850000000000001],
 ['2015-04-10', 16.440000000000001],
 ['2015-05-11', 16.629999999999999],
 ['2015-06-10', 17.460000000000001],
 ['2015-07-10', 17.43],
 ['2015-08-10', 16.949999999999999],
 ['2015-09-10', 18.039999999999999],
 ['2015-10-12', 18.800000000000001],
 ['2015-11-10', 19.059999999999999],
 ['2015-12-10', 19.25],
 ['2016-01-11', 19.829999999999998],
 ['2016-02-10', 20.489999999999998],
 ['2016-03-10', 19.870000000000001],
 ['2016-04-11', 19.670000000000002]]