In [5]:
from __future__ import division
import pandas as pd

In [7]:
url = 'http://real-chart.finance.yahoo.com/table.csv?s=2800.HK&a=11&b=31&c=2007&d=02&e=3&f=2016&g=d&ignore=.csv'

In [6]:
df = pd.read_csv(url)

In [8]:
df

            Date   Open   High    Low  Close     Volume  Adj Close
0     2016-03-02  19.90  20.30  19.90  20.20   66397400     20.200
1     2016-03-01  19.40  19.58  19.28  19.56   31693100     19.560
2     2016-02-29  19.56  19.56  19.24  19.30   33206900     19.300
3     2016-02-26  19.26  19.66  19.26  19.58   59425600     19.580
4     2016-02-25  19.36  19.38  19.02  19.08   82418700     19.080
5     2016-02-24  19.58  19.58  19.26  19.36   67498600     19.360
6     2016-02-23  19.70  19.72  19.50  19.62   34659600     19.620
7     2016-02-22  19.56  19.72  19.56  19.66   35201800     19.660
8     2016-02-19  19.56  19.56  19.40  19.44   33495100     19.440
9     2016-02-18  19.52  19.64  19.46  19.56   50154200     19.560
10    2016-02-17  19.40  19.50  19.06  19.10   39261800     19.100
11    2016-02-16  19.22  19.46  19.12  19.30   49544200     19.300
12    2016-02-15  18.82  19.12  18.82  19.12   35468000     19.120
13    2016-02-12  18.50  18.68  18.48  18.52   62498100     18.520
14    2016-02-11  18.70  18.80  18.50  18.70   85507000     18.700
15    2016-02-05  19.40  19.60  19.40  19.48   43078100     19.480
16    2016-02-04  19.36  19.54  19.34  19.38   59491600     19.380
17    2016-02-03  19.20  19.22  18.94  19.20   50339600     19.200
18    2016-02-02  19.66  19.80  19.56  19.62   36096100     19.620
19    2016-02-01  19.86  19.90  19.60  19.74   46156700     19.740
20    2016-01-29  19.36  19.86  19.28  19.84   92664700     19.840
21    2016-01-28  19.30  19.42  19.16  19.40   42626600     19.400
22    2016-01-27  19.34  19.42  19.10  19.22   51441900     19.220
23    2016-01-26  19.14  19.28  18.98  19.02   70659100     19.020
24    2016-01-25  19.50  19.68  19.46  19.54   47961400     19.540
25    2016-01-22  19.20  19.36  18.96  19.32   69839000     19.320
26    2016-01-21  19.22  19.46  18.74  18.76   79507800     18.760
27    2016-01-20  19.60  19.60  19.00  19.06  113992500     19.060
28    2016-01-19  19.52  19.86  19.38  19.84   53162100     19.840
29    2016-01-18  19.50  19.64  19.34  19.46   56196600     19.460
...          ...    ...    ...    ...    ...        ...        ...
1971  2008-02-13  23.50  23.75  23.10  23.30    8691700     21.027
1972  2008-02-12  23.25  23.35  23.00  23.10    9837600     20.847
1973  2008-02-11  23.60  23.60  22.70  22.75    6389400     20.531
1974  2008-02-06  23.55  23.80  23.40  23.55   10772500     21.253
1975  2008-02-05  25.00  25.15  24.65  25.00    4571000     22.562
1976  2008-02-04  24.95  25.30  24.80  25.20    6678300     22.742
1977  2008-02-01  24.00  24.45  23.50  24.30    7266800     21.930
1978  2008-01-31  23.65  24.10  23.25  23.55    9924200     21.253
1979  2008-01-30  24.50  24.90  23.75  23.80    5650500     21.479
1980  2008-01-29  24.85  25.00  24.35  24.50    5558100     22.110
1981  2008-01-28  24.30  24.70  23.75  24.30   10763300     21.930
1982  2008-01-25  24.85  25.50  24.65  25.35   14115300     22.877
1983  2008-01-24  24.00  25.10  23.65  23.70   14991000     21.388
1984  2008-01-23  24.35  24.50  22.85  24.35   21930400     21.975
1985  2008-01-22  21.90  23.05  21.85  21.90   34819600     19.764
1986  2008-01-21  24.75  24.90  23.95  24.05   15716400     21.704
1987  2008-01-18  24.65  25.60  24.30  25.35    6437300     22.877
1988  2008-01-17  25.05  25.60  24.20  25.40   10529900     22.923
1989  2008-01-16  25.20  25.45  24.50  24.65   20662500     22.246
1990  2008-01-15  27.05  27.05  26.00  26.00    7765000     23.464
1991  2008-01-14  27.15  27.40  26.65  26.70    6386100     24.096
1992  2008-01-11  27.60  27.80  26.90  27.05    6133100     24.412
1993  2008-01-10  27.85  27.85  27.30  27.45    3073000     24.773
1994  2008-01-09  27.00  27.80  26.90  27.80    3710500     25.088
1995  2008-01-08  27.60  27.90  27.25  27.30    2609600     24.637
1996  2008-01-07  27.20  27.45  26.85  27.45    9464600     24.773
1997  2008-01-04  27.05  27.80  27.05  27.75    4984200     25.043
1998  2008-01-03  27.30  27.45  27.00  27.05    6230700     24.412
1999  2008-01-02  27.65  28.05  27.45  27.70    4064500     24.998
2000  2007-12-31  28.05  28.05  27.55  28.05     958300     25.314

[2001 rows x 7 columns]