In [61]:
import pandas as pd

In [62]:
hkdc02 = pd.read_csv('net_hkdc02_20160503.csv', parse_dates=[0])

In [63]:
hkdc02.head()

      China Standard Time  Bytes Received/sec  Bytes Sent/sec  Bytes Total/sec
0 2016-05-03 09:56:48.748       383026.354270   295430.180712    678456.534982
1 2016-05-03 09:57:03.748       808592.377479  2094035.517822   2902627.895301
2 2016-05-03 09:57:18.747       559055.603923   390459.878903    949515.482826
3 2016-05-03 09:57:33.747       425068.001698   648843.651130   1073911.652828
4 2016-05-03 09:57:48.747       563339.449404  1982448.217152   2545787.666556

In [64]:
hkdc02['Bytes Received/sec'] =  hkdc02['Bytes Received/sec'] / 1024 / 1024 * 8
hkdc02['Bytes Sent/sec'] =  hkdc02['Bytes Sent/sec'] / 1024 / 1024 * 8
hkdc02['Bytes Total/sec'] =  hkdc02['Bytes Total/sec'] / 1024 / 1024 * 8

In [65]:
hkdc02.columns = ['China Standard Time', 'Mb Received/sec', 'Mb Sent/sec', 'Mb Total/sec']

In [66]:
hkdc02.head()

      China Standard Time  Mb Received/sec  Mb Sent/sec  Mb Total/sec
0 2016-05-03 09:56:48.748         2.922259     2.253953      5.176213
1 2016-05-03 09:57:03.748         6.169070    15.976223     22.145293
2 2016-05-03 09:57:18.747         4.265256     2.978972      7.244228
3 2016-05-03 09:57:33.747         3.243011     4.950284      8.193296
4 2016-05-03 09:57:48.747         4.297939    15.124880     19.422819

In [75]:
hkdc02.describe()

       Mb Received/sec  Mb Sent/sec  Mb Total/sec
count      2880.000000  2880.000000   2880.000000
mean          1.776860     2.731650      4.508509
std           7.181630     7.338851     13.943218
min           0.010578     0.009087      0.023235
25%           0.119937     0.229786      0.367589
50%           0.522069     0.845296      1.450195
75%           1.368625     2.606534      4.222857
max         159.169320   153.001045    312.170365

In [68]:
hkdc02['Mb Total/sec'].mean()

4.508509334368474

In [70]:
hkdc02['Mb Total/sec'].std()

13.943217525323243

In [83]:
hkdc02.sort(columns='Mb Total/sec', ascending=False).head(50)

C:\Users\kenneth_shum\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

         China Standard Time  Mb Received/sec  Mb Sent/sec  Mb Total/sec
24   2016-05-03 10:02:48.734       159.169320   153.001045    312.170365
27   2016-05-03 10:03:33.733       143.415576   133.856016    277.271591
25   2016-05-03 10:03:03.734       136.782871   130.127471    266.910342
26   2016-05-03 10:03:18.734       132.435556   129.069641    261.505197
1875 2016-05-03 17:45:32.760        77.197588    74.745079    151.942668
494  2016-05-03 12:00:18.503       132.292393    12.643777    144.936170
1808 2016-05-03 17:28:47.782        66.371351    64.711990    131.083341
1468 2016-05-03 16:03:47.975        66.395269    64.652688    131.047958
1666 2016-05-03 16:53:17.872        66.301273    63.915698    130.216971
267  2016-05-03 11:03:33.621        58.224082    63.513136    121.737218
266  2016-05-03 11:03:18.621        41.467667    47.951120     89.418787
274  2016-05-03 11:05:18.618        42.398545    43.999957     86.398502
1952 2016-05-03 18:04:47.702        40.133720    39.165965     79.299685
1995 2016-05-03 18:15:32.679        39.475347    38.440915     77.916262
1881 2016-05-03 17:47:02.757        38.429930    37.688540     76.118470
1814 2016-05-03 17:30:17.780        33.376598    33.073667     66.450265
1921 2016-05-03 17:57:02.724        32.462306    27.444429     59.906736
399  2016-05-03 11:36:33.554        14.022105    45.245783     59.267888
282  2016-05-03 11:07:18.625        29.414443    29.445519     58.859963
936  2016-05-03 13:50:48.269        27.919987    30.133646     58.053634
1823 2016-05-03 17:32:32.777        26.080790    29.757335     55.838125
1754 2016-05-03 17:15:17.816        22.959096    32.661906     55.621002
1442 2016-05-03 15:57:18.034        26.563192    25.893920     52.457113
396  2016-05-03 11:35:48.555         7.704052    42.447822     50.151874
314  2016-05-03 11:15:18.604         3.954114    44.403223     48.357337
304  2016-05-03 11:12:48.607         7.909661    40.127873     48.037533
32   2016-05-03 10:04:48.732        18.975864    29.023237     47.999101
28   2016-05-03 10:03:48.733        21.579207    25.013512     46.592719
34   2016-05-03 10:05:18.741        18.137415    26.150719     44.288133
43   2016-05-03 10:07:33.728        19.087040    24.586659     43.673699
308  2016-05-03 11:13:48.606         8.782805    32.776758     41.559563
1776 2016-05-03 17:20:47.794        19.855124    20.706173     40.561296
1817 2016-05-03 17:31:02.779        34.676798     5.395082     40.071880
401  2016-05-03 11:37:03.547         4.218818    35.662351     39.881168
1275 2016-05-03 15:15:33.088        19.851950    19.883451     39.735401
1263 2016-05-03 15:12:33.093         9.620575    29.797710     39.418285
557  2016-05-03 12:16:03.460        19.811426    19.436209     39.247635
475  2016-05-03 11:55:33.509         8.004591    30.772447     38.777038
353  2016-05-03 11:25:03.570         3.306596    35.308379     38.614975
397  2016-05-03 11:36:03.564         2.656264    35.519540     38.175804
734  2016-05-03 13:00:18.374        32.824457     4.496663     37.321120
50   2016-05-03 10:09:18.725        17.647127    19.559480     37.206607
312  2016-05-03 11:14:48.605         7.036025    29.184703     36.220728
381  2016-05-03 11:32:03.560         2.987226    32.318157     35.305383
1217 2016-05-03 15:01:03.117        14.966799    18.862859     33.829658
357  2016-05-03 11:26:03.579         3.356868    30.288935     33.645804
99   2016-05-03 10:21:33.708        14.772647    18.732884     33.505531
369  2016-05-03 11:29:03.564         3.739514    28.255493     31.995007
540  2016-05-03 12:11:48.467        10.157200    21.609654     31.766854
537  2016-05-03 12:11:03.478         9.667433    20.309716     29.977150